<!DOCTYPE html>
<html>
  <head>
    <title>Calendar</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
    <script src="dist/calendar.min.js"></script>
    <script src="dist/templates.js"></script>
    <script src="app/main.js"></script>
  </head>
  <body>
    <h1 class="title">Calendar</h1>

    <main ng-app="calendar">
      <section ui-view></section>
    </main>
  </body>
</html>
