// main: ../less/main.less

.month-name {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 0.5em;
}

.month-days {
  margin: 0 auto;
  padding: 0;
  width: 840px;

  &.offset-1 .month-day:first-of-type { margin-left: 0; }
  &.offset-2 .month-day:first-of-type { margin-left: 120px; }
  &.offset-3 .month-day:first-of-type { margin-left: 240px; }
  &.offset-4 .month-day:first-of-type { margin-left: 360px; }
  &.offset-5 .month-day:first-of-type { margin-left: 480px; }
  &.offset-6 .month-day:first-of-type { margin-left: 600px; }
  &.offset-7 .month-day:first-of-type { margin-left: 720px; }
}

.month-day {
  background-color: #fff;
  border: 1px solid @background-color;
  display: inline-block;
  font-size: 0.9rem;
  height: 120px;
  list-style-type: none;
  padding: 0.5rem;
  vertical-align: top;
  width: 120px;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  &.past {
    opacity: 0.5;

    &:hover {
      cursor: auto;
      opacity: 0.5;
    }
  }
}

.month-day-header {
  color: #fff;
  display: inline-block;
  height: 30px;
  list-style-type: none;
  padding-left: 5px;
  width: 116px;
}

.month-day-date {
  color: darkred;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.month-day-weekday {
  display: none;
}

.month-day-appointment {
  color: @background-color;
  font-size: 0.8em;
}
