<section class="day">
  <h2>{{day.weekday}}, {{day.monthName}} {{day.date}}</h2>
  <p ng-if="!newAppointment">{{day.appointment || 'Nothing scheduled'}}</p>
  <button ng-if="!newAppointment" ng-click="edit()">Edit</button>
  <form ng-show="!!newAppointment">
    <input type="text" placeholder="New Appointment" ng-model="newAppointment.text" />
    <button ng-click="cancelEdit()">Cancel</button>
    <button ng-click="saveAppointment(newAppointment.text)">Save</button>
  </form>
  <button ng-click="close()">Back</button>
</section>
